html {
    box-sizing: border-box;
}

h2{
    margin-left: 0%;
}

p, input, button, a{
    margin:10px;  
}

body {
    font-family: Georgia, serif;
    line-height: 1.5em;
}

#layout {
    display: grid;
    grid-template-rows: 240px 250px 50px;
    grid-template-columns: 1fr 1fr 1fr;
}

header{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 0%;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 0px;
}

.box{
    padding: 2px;
    text-align: center;
    margin-right: 10px;
}

/*id pour les pages de connexions*/
#box1{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
#box2{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    border: 1px solid;
    background: #D9D9D9;
}
#box3{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

/*id pour la page admin choix*/
#box1b{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    border: 1px solid;
    margin: 30px;
}
#box2b{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    border: 1px solid;
    margin: 30px;
}
#box3b{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    border: 1px solid;
    margin: 30px;
}

footer{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}

#navbarNav{
    background-color: #D9D9D9;
}

#box1c p{
    padding-top: 80px;
}

#box2c p{
    padding-top: 80px;
}

#box1c{
    padding-left: 50px;
}

#box2c.box{
}

#box3c.box{
    padding-top: 83px;
}