html {
    box-sizing: border-box;
}

p, button,a {
    margin:10px;  
}

#case{
    width: 400px;
    height: 30px;
    margin-bottom: 20px;
}

body {
    font-family: Georgia, serif;
    line-height: 1.5em;
}

#layout {
    display: grid;
    grid-template-rows: 150px 250px 50px;
    grid-template-columns: 50% 50%;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light{
    padding: 0px;
}

header{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

#navbarNav{
    background-color: #D9D9D9;
}

.box{
    padding: 2px;
    text-align: center;
    margin-left: 5%;
}

#box1{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

#box2{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

footer{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}
